<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zerodg.vwdao.mapper.BS001Mapper">

    <select id="getUserList" resultType="com.zerodg.vwentity.entity.WXUser">
        SELECT id ,open_id,name,avatar,label,resume,sex
        FROM user
    </select>

    <insert id="addNewWXUser" parameterType="com.zerodg.vwentity.entity.WXUser">

        INSERT INTO user (
          open_id,
          name,
          avatar,
          label,
          resume,
          sex
        )
        VALUES (
            #{openId},
            #{name},
            #{avatar},
            #{label},
            #{resume},
            #{sex}
          )

    </insert>

</mapper>